@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

body {
  background-color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh;
  width: 95%;
  height: 7.2vh;
}

@media (min-width: 991.98px) {
  header {
    width: 97.6%;
    height: 10vh;
    grid-template-columns: repeat(3, 1fr);
  }
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  color: #fff;
  line-height: 7.2vh;
}

header nav {
  width: 75%;
  margin: auto;
  display: none;
}

@media (min-width: 991.98px) {
  header nav {
    display: block;
  }
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li.dropdown {
  position: relative;
}

header nav ul li a {
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-align: center;
  display: block;
  width: 19%;
  margin: 0;
  padding: 0;
  line-height: 4vh;
  height: 4vh;
  font-size: 0.74em;
  font-weight: 100;
  transition: color 0.2s ease-in-out;
  float: left;
}

header nav ul li a.active_page {
  color: #20c997;
}

header nav ul li a:hover {
  color: #20c997;
}

header nav ul li.dropdown ul {
  border-top: 2px solid #20c997;
  /* padding: 0 4%; */
  width: 10vw;
  display: none;
  position: absolute;
  top: 4vh;
  left: 20%;
  z-index: 10;
  background-color: #fff;
}

header nav ul li.dropdown:hover ul {
  display: block;
}

header nav ul li.dropdown ul li a {
  width: 76%;
  padding: 0.6vh 12%;
  display: block;
  text-align: left;
  color: #25262a;
  font-size: 16px;
}

header nav ul li.dropdown ul li a:hover {
  background-color: #f4f5f9;
}

#gallery {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5%;
  row-gap: 0%;
  height: 800vw;
  overflow: hidden;
}

@media (min-width: 991.98px) {
  #gallery {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5%;
    width: 98.4%;
    height: 97vw;
  }
}

#gallery .gallery-image {
  margin: 0;
  padding: 0;
  padding-top: 6vw;
  position: relative;
  overflow: hidden;
  text-align: center;
}

@media (min-width: 991.98px) {
  #gallery .gallery-image {
    padding-top: 0;
  }
}

#gallery .gallery-image img {
  position: relative;
  z-index: -1;
  max-width: 100%;
  filter: grayscale(100%);
  transform: scale(1.05);
  transition: filter 0.2s, transform 0.25s;
  transition-timing-function: ease-in-out;
}

#gallery .gallery-image:hover img {
  filter: grayscale(0%);
  transform: scale(1.07);
}

#gallery .gallery-image .text {
  position: absolute;
  z-index: 1;
  width: 80%;
  height: 30%;
  top: 40%;
  left: 10%;
}

#gallery .gallery-image .text h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 2.6em;
  line-height: 20%;
  text-shadow: 0px 0px 1px #000;
  text-align: center;
}

@media (min-width: 991.98px) {
  #gallery .gallery-image .text h1 {
    font-size: 3em;
  }
}

#gallery .gallery-image .text a {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  height: 3.6vh;
  border: 2px #fff solid;
  width: 34.375%;
  margin-right: 32.8125%;
  margin-left: 32.8125%;
  line-height: 3.6vh;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;
}

@media (min-width: 991.98px) {
  #gallery .gallery-image .text a {
    width: 30%;
    margin-right: 35%;
    margin-left: 35%;
  }
}

@media (min-width: 413px) {
  #gallery .gallery-image .text a {
    width: 16.75%;
    margin-right: 40.625%;
    margin-left: 40.625%;
  }
}

#gallery .gallery-image .text a:hover {
  background-color: #fff;
  color: #000;
}

footer {
  width: 100%;
  height: 10vh;
}

footer p {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  font-size: 1.2em;
  line-height: 8vh;
  text-align: center;
}

@media (min-width: 768px) {}
